<mat-toolbar color="primary">
    <span><mat-icon aria-hidden="true"  aria-label="Example home icon" fontIcon="hourglass_empty"></mat-icon> WaitWaise</span>
    <div class="spacer"></div>
    <a mat-button [routerLink]="['/']">Home</a>
    <a mat-button [routerLink]="['/dashbord']">Dashbord</a>
    <a mat-button [routerLink]="['/queue-management']">Queue management</a>
    <a mat-button [routerLink]="['/about']">About Us</a>
    <a mat-button [routerLink]="['/login']">LogIn</a>
    <a mat-raised-button [routerLink]="['/signup']" color="accent">Sign Up</a>
</mat-toolbar>