<mat-toolbar color="primary">
    <span><mat-icon aria-hidden="true"  aria-label="Example home icon" fontIcon="hourglass_empty"></mat-icon> WaitWaise</span>
    <div class="spacer"></div>
    <a mat-button [routerLink]="['/']">Home</a>
    <a mat-button [routerLink]="['/dashbord']" *ngIf="userType === 'company' ">Dashbord</a>
    <a mat-button [routerLink]="['/queue-management']">Queue management</a>
    <a mat-button [routerLink]="['/about']" *ngIf="userType === 'client' ">About Us</a>
    <a mat-button [routerLink]="['/login']" *ngIf="!isAuthenticated">LogIn</a>
    <a mat-raised-button [routerLink]="['/signup']" color="accent" *ngIf="!isAuthenticated">Sign Up</a>
    <a mat-raised-button (click)="signOut()" color="warn" *ngIf="isAuthenticated">Sign Out</a>

    
</mat-toolbar>