<div class="container">
    <div class="text">
        <h3>🚀 Welcome to WaitWaise : Where Time Meets Efficiency!</h3>
    
    Tired of endless queues and frustrating wait times? WaitWaise is here to revolutionize the way you manage clients and streamline your services!
    
    <h3>✨ Why WaitWaise ?</h3>
    
    With WaitWaise, we bring you the power to:
    
    <h3>🕒 Eliminate Wait Times :</h3>
    Say goodbye to long queues! Our real-time queue management ensures your clients can track their turn and enjoy a hassle-free experience.
    
    <h3>📲 Instant Notifications :</h3>
    
    Keep your clients in the loop! Our automated notifications notify them when their turn is approaching, allowing them the freedom to explore while they wait.
    
    <h3>🔧 Customizable Queues :</h3>
    
    Tailor your queues to match your unique business needs. Whether it's customer support, appointments, or events, QueueEase adapts to you.
    
    <h3>📈 Optimize Efficiency :</h3>
    
    Maximize your operational efficiency with insightful analytics. Understand peak hours, average wait times, and enhance your service delivery.
    </div>
    
    <img src="../../../assets/images/time4.jpg" alt="">
</div>

<!-- <div id="current-client">1500</div>
<ul></ul>
{{name}}
message from server : {{message}}
<button (click)="myFunction()">click me</button> -->